# Ignore node_modules directory
frontend/node_modules/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore log files
*.log
g
# Ignore environment variables file
.env

# Ignore Python virtual environment
backend/python_env/