/* .tabs-container {
    width: 400px;
    margin: auto;
} */

/* .tabs {
    display: flex;
} */

.tab {
    cursor: pointer;
    padding: 10px;
    background-color: #f1f1f1;
    flex: 1; /* Make each tab take equal width */
    text-align: center; /* Center the text in each tab */
    padding: 10px; /* Add some padding for better appearance */
    cursor: pointer; /* Change cursor to pointer on hover */
    border: none;
}


/* .tab.active {
    background-color: #5992ad;
} */

.tab-content {
    border: 1px solid #ddd;
    padding: 10px;
}

/* Tabs.css */

.tabs-container {
    width: 100%;
}

.tabs {
    display: flex; /* Use Flexbox for layout */
    justify-content: space-between; /* Distribute space evenly */
}


.tab.active {
    background-color: #5992ad; /* Example active tab color */
    color: white; /* Change text color for active tab */
}
